<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/javascripts/ajax.js" defer></script>
  <title>Ajax</title>
</head>
<body>
  <h1>Gifs Random</h1>
  <br>
  <button id="boton">Cambiar gif</button>
</body>
</html> 

